* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes animArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
}

@keyframes animArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/mobile/image-header.jpg");
  background-size: cover;
  background-position: top;
  padding: 0rem 1.5rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12%;
  position: relative;
}

header nav .mobile-menu {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  display: none;
  opacity: 0;
  height: 40vh;
  top: 5rem;
  background-color: white;
}

header nav .mobile-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .mobile-menu.show {
  opacity: 1;
}

header nav .mobile-menu a {
  font-family: "Barlow", sans-serif;
  color: #818498;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

header nav .mobile-menu #contact {
  background-color: #fad400;
  border: none;
  font-family: "Fraunces", serif;
  width: 10rem;
  height: 4rem;
  font-size: 1.1rem;
  border-radius: 30px;
}

header div {
  width: 100%;
  height: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div h1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: 0.4rem;
}

header div img {
  -webkit-animation: animArrow 2s infinite;
          animation: animArrow 2s infinite;
}

body {
  overflow-x: hidden;
}

body main .main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
}

body main .main-container .stand .c-desc a::before {
  background-color: #fe7867;
}

body main .main-container .img-desc {
  width: 100vw;
}

body main .main-container .c-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2.2rem;
}

body main .main-container .c-desc h1 {
  font-family: "Fraunces", serif;
  font-weight: bold;
  color: #23303e;
  font-size: 2.2rem;
}

body main .main-container .c-desc p {
  color: #5a636c;
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  margin: 1.9rem 0;
}

body main .main-container .c-desc a {
  text-decoration: none;
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
}

body main .main-container .c-desc a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0px;
  z-index: -1;
  background-color: #fad400;
  -webkit-filter: opacity(35%);
          filter: opacity(35%);
}

body main .main-container .graphic {
  background-image: url(../assets/mobile/image-graphic-design.jpg);
  background-size: cover;
  background-position: top;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.2rem;
  text-align: center;
}

body main .main-container .graphic h1 {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  color: #25564b;
  font-weight: bold;
  margin-bottom: 2rem;
}

body main .main-container .graphic p {
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif;
  color: #25564b;
  line-height: 1.6rem;
}

body main .main-container .photographic {
  background-image: url(../assets/mobile/image-photography.jpg);
  background-size: cover;
  background-position: top;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.2rem;
  text-align: center;
}

body main .main-container .photographic h1 {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  color: #19536b;
  font-weight: bold;
  margin-bottom: 2rem;
}

body main .main-container .photographic p {
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif;
  color: #19536b;
  line-height: 1.6rem;
}

body main .main-container .testimonial {
  text-align: center;
  padding: 3rem 1.5rem;
}

body main .main-container .testimonial h1 {
  font-family: Fraunces, serif;
  font-size: 1.1rem;
  color: #a7abae;
  letter-spacing: 0.2rem;
  margin-bottom: 0.6rem;
}

body main .main-container .testimonial div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .main-container .testimonial div:last-child .t-cargo {
  margin-bottom: 0;
}

body main .main-container .testimonial div img {
  width: 20%;
  border-radius: 50%;
  margin: 3rem 0 2rem 0;
}

body main .main-container .testimonial div p {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

body main .main-container .testimonial div .t-name {
  margin: 1.9rem 0 0.8rem 0;
  font-family: Fraunces, serif;
  font-size: 1.4rem;
  font-weight: 900;
  color: #23303e;
}

body main .main-container .testimonial div .t-cargo {
  color: #818498;
  font-family: "Barlow", sans-serif;
  margin-bottom: 1.8rem;
}

body main .main-container .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
}

body main .main-container .gallery img {
  width: 50vw;
}

body footer {
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #51d6bc;
  padding: 4rem 0rem;
}

body footer .footer-links a {
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif;
  color: #25564b;
  text-decoration: none;
}

body footer .footer-links a:not(:last-child) {
  margin-right: 2.2rem;
}

body footer .social-media a:not(:last-child) {
  margin-right: 1.5rem;
}
/*# sourceMappingURL=style.css.map */